# Node needed modules for the application
server/node_modules

# Environment configurations
server/.env

# VS Code configurations
.vscode


mobile/node_modules/
mobile/.expo/*
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

# macOS
.DS_Store