# Node needed modules for the application
server/node_modules

# Environment configurations
server/.env

# VS Code configurations
.vscode


west-quotes-mobile/node_modules/**/*
west-quotes-mobule/.expo/*
west-quotes-mobule/npm-debug.*
west-quotes-mobule/*.jks
west-quotes-mobule/*.p8
west-quotes-mobule/*.p12
west-quotes-mobule/*.key
west-quotes-mobule/*.mobileprovision
west-quotes-mobule/*.orig.*
west-quotes-mobule/web-build/

# macOS
.DS_Store